html {
  height: 100%;
}
/*selection*/
::-moz-selection {
  background: #ffea00;
  text-shadow: none;
}
::selection {
  background: #ffea00;
  text-shadow: none;
}
/*reset hyperlink*/
a {
  color: #f6990e;
  text-decoration: none;
}
a:hover {
  color: #e20312;
}
/*Main*/
body {
  background-color: #ffea00;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(246,153,14,0.2)), color-stop(1vw, rgba(246,153,14,0.2)), color-stop(1vw, #ffea00), to(#ffea00));
  background-image: linear-gradient(to right, rgba(246,153,14,0.2), rgba(246,153,14,0.2) 1vw, #ffea00 1vw, #ffea00);
  background-size: 2vw 100%;
  width: 100%;
  height: 100%;
  color: #251a89;
  font-size: 1.2vw;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
#cover {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40vw;
  height: auto;
}
.dowm {
  display: block;
  margin: 0 auto;
  width: 2vw;
  height: auto;
  position: relative;
  top: -8vh;
}
/*animation in main*/
.floating {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
/*Header*/
header {
  text-align: center;
  padding: 3vw 0 3vw 0;
  background: #251a89;
  color: #f2f2f2;
}
header h1 {
  font-size: 2vw;
  font-weight: 800;
  padding-bottom: 1vw;
}
header hr {
  width: 20vw;
  margin: 1vw auto 1vw auto;
  height: 0.1vw;
  background: #f2f2f2;
}
header strong {
  font-size: 1.2vw;
  font-style: italic;
  font-weight: 300;
}
/*Section styles*/
section {
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
}
section article {
  padding: 6vw 0 6vw 0;
}
section h2 {
  text-align: center;
  font-size: 3vw;
  border-bottom: double 0.4vw #251a89;
  padding-bottom: 1.5vw;
  font-weight: 700;
}
section p {
  padding: 2vw 0 2vw 0;
  max-width: 980px;
  display: block;
  margin: 0 auto;
  -ms-hyphens: none;
      hyphens: none;
}
section figure {
  text-align: center;
}
section figure img {
  margin: 2vw auto;
  width: 10vw;
}
/*section services and promotions*/
.promos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 2vw;
  gap: 2vw;
}
.promos .prom {
  background: #f2f2f2;
  -webkit-box-shadow: 0 0 10px 2px rgba(226,3,18,0.2);
          box-shadow: 0 0 10px 2px rgba(226,3,18,0.2);
  padding: 2vw;
  border-radius: 0.2vw;
  width: 30%;
  text-align: center;
}
.promos img {
  max-width: 100%;
  mix-blend-mode: multiply;
  height: auto;
}
.promos h3 {
  font-weight: 600;
  padding: 1vw 0 1vw 0;
}
.promos p {
  padding: 1vw 0 1vw 0;
}
.promos ul {
  border-top: solid 0.2vw #251a89;
  padding-top: 1vw;
}
/*section contact*/
ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  list-style: none;
  padding: 2vw 0 1vw 0;
  gap: 1vw;
}
ol strong {
  background: #e20312;
  color: #ffea00;
  display: inline-block;
  padding: 1vw;
  border-radius: 0.2vw 0 0 0.2vw;
  font-weight: 700;
}
ol a {
  outline: solid #e20312 0.2vw;
  display: inline-block;
  color: #e20312;
  padding: 0.8vw;
  border-radius: 0 0.2vw 0.2vw 0;
}
ol a:hover {
  padding-left: 15px;
}
/*section footer*/
footer {
  text-align: center;
  background: #e20312;
  color: #ffea00;
  padding: 2vw;
}
/*Responsive Design*/
@media screen and (max-width: 1024px) {
  body {
    font-size: 1em;
  }
  header {
    padding: 2rem 0 2rem 0;
  }
  header h1 {
    font-size: 1.6em;
  }
  header hr {
    width: 60%;
    margin: 1rem auto 1rem auto;
    height: 2px;
  }
  header strong {
    font-size: 1.2em;
  }
  section article {
    padding: 4rem 0 4rem 0;
  }
  section h2 {
    font-size: 1.6em;
    border-bottom: double 3px #251a89;
    padding-bottom: 1.5rem;
  }
  section p {
    padding: 2rem 0 2rem 0;
  }
  section figure img {
    width: 30%;
  }
  .promos {
    padding-top: 2rem;
  }
  .promos .prom {
    padding: 2rem;
    border-radius: 3px;
  }
  .promos h3 {
    padding: 1rem 0 1rem 0;
  }
  .promos p {
    padding: 1rem 0 1rem 0;
  }
  .promos ul {
    border-top: solid 2px #251a89;
    padding-top: 1rem;
  }
  ol {
    padding: 1rem 0 1rem 0;
    gap: 1rem;
  }
  ol strong {
    border-radius: 3px 0 0 3px;
    padding: 1rem;
  }
  ol a {
    outline: solid #e20312 2px;
    padding: 14px;
    border-radius: 0 3px 3px 0;
  }
  footer {
    padding: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .promos .prom {
    width: 48%;
  }
}
@media screen and (max-width: 480px) {
  .promos .prom {
    width: 100%;
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
