---
/* importando layout */
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section id="error">
    <h1>404</h1>
    <p>Lo sentimos, la página que quieres ver no está disponible o no existe. </p>
    <a href="/" title="Volver al inicio" class="enlace-botom">Volver al inicio <span class="material-symbols-rounded">home</span></a>
  </section>
</Layout>