---
/* importando layout */
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section id="cover">
    <img src="/img/logo-web-lucy.svg" id="logo" alt="Minimarket Lucy" />
  </section>
  <img src="/img/flecha.svg" class="dowm floating" alt="bajar" />

  <header>
    <h1>Minimarket Lucy</h1>
    <hr />
    <strong>Atención de 7:00 a.m a 19:00 p.m.</strong>
  </header>

  <section>
    <article>
      <h2>Nosotros</h2>
      <p>
        Somos un pequeño negocio de alimentos de primera necesidad de apertura
        el año 2016. Buscamos ofrecer un buen servicio a nuestra comunidad.
      </p>

      <figure id="marca">
        <img
          src="/img/lucy-firma.svg"
          alt="Logotipo Minimarket Lucy"
          loading="lazy"
        />
        <figcaption>Nuestra imagen</figcaption>
      </figure>
    </article>
  </section>

  <section>
    <article>
      <h2>Productos</h2>
      <p>
        Tenemos para nuestros clientes, productos de marcas reconocidas y
        variedad en productos de primera necesidad. Los productos siguen con el
        cuidado necesario para mantener su calidad.
      </p>

      <div class="promos">
        <div class="prom">
          <img src="/img/gloria.jpg" alt="Gloria" loading="lazy" />
          <p>Gloria</p>
          <ul>
            <li>Leche Gloria</li>
            <li>Pura Vida</li>
            <li>Yogurt Gloria</li>
            <li>Mermelada Gloria</li>
            <li>Batidito</li>
            <li>Yofresh</li>
            <li>Mantequilla Gloria</li>
            <li>Shake</li>
            <li>Conservas de Pescado</li>
          </ul>
        </div>

        <div class="prom">
          <img src="/img/cocacola.png" alt="CocaCola" loading="lazy" />
          <p>CocaCola</p>
          <ul>
            <li>CocaCola</li>
            <li>Sprite</li>
            <li>Inca Kola</li>
            <li>Frugos del Valle</li>
            <li>Powerade</li>
            <li>Benedictino</li>
          </ul>
        </div>

        <div class="prom">
          <img src="/img/aje.png" alt="Aje" loading="lazy" />
          <p>Aje</p>
          <ul>
            <li>Cielo</li>
            <li>KR</li>
            <li>Sabor de Oro</li>
          </ul>
        </div>

        <div class="prom">
          <img src="/img/alicorp.png" alt="Alicorp" loading="lazy" />
          <p>Alicorp</p>
          <ul>
            <li>Primor</li>
            <li>Nicolini</li>
            <li>Sapolio</li>
            <li>Negrita</li>
            <li>Concinero</li>
            <li>Bolivar</li>
            <li>Blanca Flor</li>
            <li>Don Vittorio</li>
            <li>Victoria</li>
            <li>Lavaggi</li>
            <li>Angel</li>
            <li>Sello de Oro</li>
            <li>Marsella</li>
            <li>Patito</li>
            <li>Tentación</li>
            <li>Opal</li>
            <li>Cil</li>
            <li>Casino</li>
          </ul>
        </div>
      </div>
    </article>
  </section>

  <section>
    <article>
      <h2>Encuentra estos productos</h2>

      <p>
        Las fotos se actualizan cada cierto tiempo. Visité la tienda para
        adquirir estos productos.
      </p>

      <div class="promos">
        <div class="prom">
          <img
            src="https://lh3.googleusercontent.com/p/AF1QipMBrgqwV46QcenOFQYhwpDzE6UHzZe6tiBs4B6l=s16383-w1024"
            alt="Muñeca Sirena Musical"
            loading="lazy"
          />
          <h3>Muñeca Sirena Musical</h3>
          <ul>
            <li>S/. 20.00 Soles</li>
          </ul>
        </div>

        <div class="prom">
          <img
            src="https://lh3.googleusercontent.com/p/AF1QipMrj1spv7_lR_y6oG_3TxWT78mvQXY71Kmczo23=s16383-w1024"
            alt="Muñeca new sweet doll"
            loading="lazy"
          />
          <h3>Muñeca new sweet doll</h3>
          <ul>
            <li>S/. 22.00 Soles</li>
          </ul>
        </div>

        <div class="prom">
          <img
            src="https://lh3.googleusercontent.com/p/AF1QipNaWGQRGo71tw0a7j76ep8K4JDoO5HOdY0gRAQd=s16383-w1024"
            alt="Dinosaurios armables"
            loading="lazy"
          />
          <h3>Dinosaurios armables</h3>
          <ul>
            <li>S/. 48.00 Soles</li>
          </ul>
        </div>

        <div class="prom">
          <img
            src="https://lh3.googleusercontent.com/p/AF1QipOOy_LvJWneNtx9IZ_rthAitQCb3u56qlv4bqoC=s16383-w1024"
            alt="Robot carro de carrera"
            loading="lazy"
          />
          <h3>Robot carro de carrera</h3>
          <ul>
            <li>S/. 20.00 Soles</li>
          </ul>
        </div>

        <div class="prom">
          <img
            src="https://lh3.googleusercontent.com/p/AF1QipOY7RCJW2xHmIT_iq0qwre2G7G2P9Ut0s-BgFew=s16383-w1024"
            alt="Robot Tank guerrero"
            loading="lazy"
          />
          <h3>Robot Tank guerrero</h3>
          <ul>
            <li>S/. 20.00 Soles</li>
          </ul>
        </div>
      </div>
    </article>
  </section>

  <!--<section>
    <article>
      <h2>Receta del Mes</h2>
      <p>Recuerde que puedes encontrar todo lo que necesitas para tus recetas aquí.</p>

      <figure>
        <img src="static/img/receta.png"  alt="receta octubre">
        <figcaption>Receta del mes Octubre</figcaption>
      </figure>
    </article>
  </section>-->

  <section>
    <article>
      <h2>Contacto</h2>
      <p>
        Si quieres contactarte con nosotros puedes hacerlo a través de los
        siguientes medios:
      </p>

      <ol>
        <li>
          <strong>Facebook:</strong><a
            class="anin-normal"
            href="https://bit.ly/36G2eMU"
            target="_blank">Minimarket Lucy</a
          >
        </li>
        <li>
          <strong>Mapa:</strong><a
            class="anin-normal"
            href="https://bit.ly/2M87mQH"
            target="_blank">Encuentranos</a
          >
        </li>
      </ol>
    </article>
  </section>

  <footer>
    <p>© Minimarket Lucy</p>
  </footer>
</Layout>
