---

---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />

  <title>
    Minimarket Lucy - Tus compras de siempre, solo aquí - Arequipa - Mariano
    Melgar - Buena Vista
  </title>
  <meta
    name="description"
    content="Minimarket Lucy, bodega especializada en la venta de productos de primera necesidad; Tus compras de siempre, solo aquí. Arequipa, Mariano Melgar, buena vista"
  />
  <meta
    name="keywords"
    content="Minimarket Lucy, bodega, tienda, market, Arequipa, Mariano Melgar, buena vista"
  />

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <meta name="distribution" content="global" />
  <meta name="author" content="Edgar Cornejo" />
  <meta name="designer" content="Edgar Cornejo" />
  <meta property="og:type" content="website" />
  <meta
    property="og:url"
    content="http://www.minimarketlucy.edgarcornejo.com"
  />
  <meta
    property="og:image"
    content="http://www.minimarketlucy.edgarcornejo.com/apple-touch-icon.png"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet"
  />
</head>
